@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.auth-container {
  margin: 0 auto; /* Center horizontally on small screens */
  height: auto;
  margin-top: 20px; /* 20px margin top */
  width: 25%;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}


@media (max-width: 400px) {
  .auth-container {
    /* margin: 0 auto; Center horizontally on medium screens and up */
    width: 100%; 
    height: 100vh;
    padding-top: 30%;
    margin-top: 0px;
    border-radius: 0%;
  }
}